@keyframes pulse {
	from {
		height: 15rem;
		width: 15rem;
	}

	to {
		height: 10rem;
		width: 10rem;
	}
}

.wrapper {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.header {
	display: flex;
	flex: 1;
	align-items: stretch;
}

.header > * {
	display: flex;
	flex: 1 1 auto;
	align-items: center;
	justify-content: center;
	padding: 0 1rem;
	margin-bottom: .5rem;
	border: 2px solid #1e2c37;
	border-right: 0;
}

.header > *:last-child {
	border-right: 2px solid #1e2c37;
}

.stepComplete {
	background-color: #1e2c37;
}

.topics {
	display: flex;
}

.topics > * {
	margin: 0 .5rem;
}

.saveOverlay {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	color: #1e2c37;
	background-color: rgba(0, 0, 0, .75);
	z-index: 110;
	font-weight: 500;
}

.saveOverlay > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 15rem;
	width: 15rem;
	border-radius: 50%;
	padding: 1rem;
	background-color: #2fd9b5;
	animation: pulse 1.5s infinite;
	animation-direction: alternate;
}

.saveOverlay span {
	display: block;
	font-size: 1.5rem;
}
