@keyframes slideRTL {
	0% { width: 0; }
	100% { width: 25%; }
}

.app {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.header {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	height: 50px;
	width: 100%;
	color: #fff;
	background-color: #455a64;
	overflow: hidden;
}

.header > * {
	display: flex;
	align-items: center;
	padding: 0 1rem;
}

/*.header > * + * {
	margin-left: 1rem;
}*/

.headerMeta {
	display: flex;
	flex: 1;
	justify-content: center;
	background-color: rgba(0, 0, 0, .25);
}

.contentMenuToggle {
	position: absolute;
	top: 0;
	right: 0;
	height: 50px; /* .header->height */
	width: 50px; /* .header->height */
}

.contextMenuContent {
	position: absolute;
	top: 50px; /* .header->height */
	right: 0;
	height: calc(100vh - 50px); /* .header->height */
	background-color: #455a64;
	z-index: 1;

	animation: slideRTL .75s 1 forwards;
}

.contextMenu {
	list-style: none;
}

.contextMenuItem {
	padding: .5rem 1rem;
}

.content {
	display: flex;
	flex: 1;
	flex-direction: column;
	height: calc(100vh - 50px); /* .header->height */
	padding: 1rem;
}

/* Force landscape display by rotating the entire document */
@media screen and (orientation: portrait) {
	html {
		transform: rotate(-90deg);
		transform-origin: left top;
		width: 100vh;
		overflow-x: hidden;
		position: absolute;
		top: 100%;
		left: 0;
	}

	.content {
		height: calc(100vw - 50px); /* .header->height */
	}
}
