@value (
	Green100,
	Blue300
) from '../../css/Colours.module.css';

@keyframes pulse {
	from {
		height: 80%;
		width: 80%;
	}

	to {
		height: 60%;
		width: 60%;
	}
}

.wrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.counter {
	height: 80%;
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 10rem;
	color: Blue300;
	background-color: Green100;

	animation: pulse 1.5s infinite;
	animation-direction: alternate;
}
