.wrapper {
	position: relative;
	display: inline-block;
	margin-bottom: .5rem;
}

.wrapper [type="text"] {
	display: inline-block;
	width: auto !important;
}

.wrapper > span {
	display: flex;
	align-items: stretch;
}

:global(#calendar) {
	position: absolute;
	padding: 1rem;
	background-color: #34404c;
	z-index: 10;
}

:global(#calendar td) {
	text-align: center;
}
