@value (
	Blue200,
	Green100
) from '../../css/Colours.module.css';

.wrapper {
	position: relative;
	display: inline-block;
	margin-bottom: .5rem;
}

.wrapper [type="text"] {
	display: inline-block;
	width: auto !important;
}

.wrapper > span {
	display: flex;
	align-items: stretch;
}

:global(.date-picker-popover) {
	position: absolute;
	padding: .5rem;
	background-color: Blue200;
	z-index: 10;
}

:global(.date-picker-popover td) {
	text-align: center;
}

:global(.date-picker-popover .popover-title) {
	padding: .5rem;
	color: Blue200;
	background-color: Green100;
}

:global(.date-picker-popover tbody td) {
	padding: .25rem !important;
	border: 1px solid rgba(255, 255, 255, .1);
}
