.wrapper {
	position: relative;
	display: inline-block;
	margin-bottom: .5rem;
}

.wrapper [type="text"] {
	display: inline-block;
	width: auto !important;
}

.wrapper > span {
	display: flex;
	align-items: stretch;
}

:global(#calendar) {
	position: absolute;
	padding: .5rem;
	background-color: #34404c;
	z-index: 10;
}

:global(#calendar td) {
	text-align: center;
}

:global(#calendar .popover-title) {
	padding: .5rem;
	color: #34404c;
	background-color: #2fd9b5;
}

:global(#calendar tbody td) {
	padding: .25rem !important;
	border: 1px solid rgba(255, 255, 255, .2);
}
