.icon {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.happy { composes: icon; background-image: url('./assets/compressed/icon-happy.svg'); }
.happySmall { composes: icon; background-image: url('./assets/compressed/icon-happy-minimal.svg'); }

.sad { composes: icon; background-image: url('./assets/compressed/icon-sad.svg'); }
.sadSmall { composes: icon; background-image: url('./assets/compressed/icon-sad-minimal.svg'); }

.work { composes: icon; background-image: url('./assets/compressed/icon-id-card.svg'); }
.workSmall { composes: icon; background-image: url('./assets/compressed/icon-id-card-minimal.svg'); }

.learning { composes: icon; background-image: url('./assets/compressed/icon-book.svg'); }
.learningSmall { composes: icon; background-image: url('./assets/compressed/icon-book-minimal.svg'); }

.home { composes: icon; background-image: url('./assets/compressed/icon-house.svg'); }
.homeSmall { composes: icon; background-image: url('./assets/compressed/icon-house-minimal.svg'); }

.food { composes: icon; background-image: url('./assets/compressed/icon-burger.svg'); }
.foodSmall { composes: icon; background-image: url('./assets/compressed/icon-burger-minimal.svg'); }

.relationships { composes: icon; background-image: url('./assets/compressed/icon-hug.svg'); }
.relationshipsSmall { composes: icon; background-image: url('./assets/compressed/icon-hug-minimal.svg'); }

.activities { composes: icon; background-image: url('./assets/compressed/icon-activities.svg'); }
.activitiesSmall { composes: icon; background-image: url('./assets/compressed/icon-activities-minimal.svg'); }

.travel { composes: icon; background-image: url('./assets/compressed/icon-bus.svg'); }
.travelSmall { composes: icon; background-image: url('./assets/compressed/icon-bus-minimal.svg'); }

.health { composes: icon; background-image: url('./assets/compressed/icon-medical-professional.svg'); }
.healthSmall { composes: icon; background-image: url('./assets/compressed/icon-medical-professional-minimal.svg'); }

.video { composes: icon; background-image: url('./assets/compressed/icon-video.svg'); }
.videoSmall { composes: icon; background-image: url('./assets/compressed/icon-video-minimal.svg'); }

.photo { composes: icon; background-image: url('./assets/compressed/icon-camera.svg'); }
.photoSmall { composes: icon; background-image: url('./assets/compressed/icon-camera-minimal.svg'); }

.typing { composes: icon; background-image: url('./assets/compressed/icon-text.svg'); }
.typingSmall { composes: icon; background-image: url('./assets/compressed/icon-text-minimal.svg'); }
