.icon {
	background-repeat: no-repeat;
	background-size: cover;
}

.happy { composes: icon; background-image: url('./assets/icon-happy.svg'); }
.happyLight { composes: icon; background-image: url('./assets/icon-happy-light.svg'); }

.sad { composes: icon; background-image: url('./assets/icon-sad.svg'); }
.sadLight { composes: icon; background-image: url('./assets/icon-sad-light.svg'); }

.work { composes: icon; background-image: url('./assets/icon-work.svg'); }
.workLight { composes: icon; background-image: url('./assets/icon-work-light.svg'); }

.learning { composes: icon; background-image: url('./assets/icon-learning.svg'); }
.learningLight { composes: icon; background-image: url('./assets/icon-learning-light.svg'); }

.home { composes: icon; background-image: url('./assets/icon-home.svg'); }
.homeLight { composes: icon; background-image: url('./assets/icon-home-light.svg'); }

.food { composes: icon; background-image: url('./assets/icon-food.svg'); }
.foodLight { composes: icon; background-image: url('./assets/icon-food-light.svg'); }

.relationships { composes: icon; background-image: url('./assets/icon-people.svg'); }
.relationshipsLight { composes: icon; background-image: url('./assets/icon-people-light.svg'); }

/*.activities { composes: icon; background-image: url('./assets/icon-activities.svg'); }*/
/*.activitiesLight { composes: icon; background-image: url('./assets/icon-activities-light.svg'); }*/

.travel { composes: icon; background-image: url('./assets/icon-transport.svg'); }
.travelLight { composes: icon; background-image: url('./assets/icon-transport-light.svg'); }

.health { composes: icon; background-image: url('./assets/icon-health.svg'); }
.healthLight { composes: icon; background-image: url('./assets/icon-health-light.svg'); }

.video { composes: icon; background-image: url('./assets/icon-video.svg'); }
.videoLight { composes: icon; background-image: url('./assets/icon-video-light.svg'); }

.photo { composes: icon; background-image: url('./assets/icon-photo.svg'); }
.photoLight { composes: icon; background-image: url('./assets/icon-photo-light.svg'); }

.typing { composes: icon; background-image: url('./assets/icon-text.svg'); }
.typingLight { composes: icon; background-image: url('./assets/icon-text-light.svg'); }
