.filterBlock {
	clear: left;
}

.filterHeader {
	composes: regular from '../../css/Headings.module.css';
	padding: 1rem 1rem 0;
}

.filter {
	float: left;
	width: 50%;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.filterNewRow {
	composes: filter;
	clear: left;
}

.filterMedia {
	composes: filter;
	width: 33%;
}

.filterList {
	padding: .5rem;
	overflow: auto;
}

.filterControl {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	/*margin: 0 1px 1px 0;*/
	border: 1px solid #34404c;
	color: #fff;
	font-weight: bold;
	/*background-color: rgba(0, 0, 0, .2);*/
	/*background-color: #bbc4ef;*/
}

.filterControlOn {
	composes: filterControl;
	/*color: #1e2c37;*/
	background-color: #34404c;
}

.filterText {
	margin-top: .5rem;
	height: 2em;
	display: flex;
	align-items: center;
}
