@value Blue200 from '../../css/Colours.module.css';

.filterHeader {
	margin-top: 1rem;
	padding: 0 .5rem;
	font-weight: 500;
}

.filter {
	position: relative;
	float: left;
	width: 50%;
	text-align: center;
	letter-spacing: 1px;
}

.filterActive {
	composes: filter;
	background-color: Blue200;
}

.filterNewRow {
	composes: filter;
	clear: left;
}

.filterMedia {
	composes: filter;
	width: 33%;
}

.filterList {
	padding: .5rem;
	overflow: auto;
}

.filterControl {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	border: 1px solid Blue200;
	color: #fff;
	font-weight: 500;
}

.filterControlOn {
	composes: filterControl;
	background-color: Blue200;
}

.filterText {
	flex: 1;
	height: 2em;
	margin-left: 1rem;
	display: flex;
	align-items: center;
	white-space: normal;
	text-align: left;
}
