.field {
	composes: vh from '../../css/A11y.module.css';
}

.wrapper {
	display: flex;
	align-self: stretch;
	flex: 1;
	background-color: rgba(0, 0, 0, .1);
}

.option {
	position: relative;
	display: flex;
	justify-content: center;
	align-self: stretch;
	align-items: center;
	flex: 1;
	cursor: pointer;
}

.field:checked + .option {
	color: #212121;
	background-color: #ffeb3b;
}

.message {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 1rem;
	background-color: rgba(0, 0, 0, .2);
}

.icon {
	height: calc(100% - 5rem);
	width: calc(100% - 5rem);
	margin-top: -3rem;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.iconwork {
	composes: icon;
	background-image: url('/static/icon-work.svg');
}

.iconlearning {
	composes: icon;
	background-image: url('/static/icon-learning.svg');
}

.iconhome {
	composes: icon;
	background-image: url('/static/icon-home.svg');
}

.iconfood {
	composes: icon;
	background-image: url('/static/icon-food.svg');
}

.iconrelationships {
	composes: icon;
	background-image: url('/static/icon-people.svg');
}

.iconpeople {
	composes: icon;
	background-image: url('/static/icon-people.svg');
}

.icontravel {
	composes: icon;
	background-image: url('/static/icon-transport.svg');
}

.iconhealth {
	composes: icon;
	background-image: url('/static/icon-health.svg');
}

.iconvideo {
	composes: icon;
	background-image: url('/static/icon-video.svg');
}

.iconphoto {
	composes: icon;
	background-image: url('/static/icon-photo.svg');
}

.icontyping {
	composes: icon;
	background-image: url('/static/icon-text.svg');
}
