@value (
	Blue200,
	Blue300
) from '../../css/Colours.module.css';

.header {
	display: flex;
	flex: 1;
	align-items: stretch;
}

.header > * {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	padding: 0 1rem;
	margin-bottom: .5rem;
	border: 2px solid Blue300;
	border-right: 0;
}

.header > *:last-child {
	border-right: 2px solid Blue300;
}

.stepComplete {
	background-color: Blue300;
}

.topics {
	display: flex;
}

.topics > * {
	display: flex;
	flex: 1;
	justify-content: center;
	margin: 0 .5rem;
}

.step {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.stepContent {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	justify-content: space-between;
}

.controls {
	text-align: center;
}

.controls > * + * {
	margin-left: 1rem;
}

.option {
	display: inline-block;
	min-width: 5rem;
	margin: 0;
}

.option:first-child .message {
	border-top-left-radius: 4rem;
	border-bottom-left-radius: 4rem;
}

.option:last-child .message {
	border-top-right-radius: 4rem;
	border-bottom-right-radius: 4rem;
}

.option + .option {
	margin-left: -4px; /* .message->borderWidth */
}

.message {
	cursor: pointer;
	display: block;
	padding: 1.5rem 2rem;
	border: 4px solid Blue200;
	text-align: center;
	font-size: 1rem;
	font-weight: 500;
}

.field {
	composes: vh from '../../css/A11y.module.css';
}

.field:checked + .message {
	background-color: Blue200;
}

.videoWrapper {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}

.video {
	width: 100%;
	max-width: 1000px;
}

@media all and (max-width: 667px) and (orientation: landscape) {
	.message {
		padding: .5rem;
		font-size: 1rem;
		border-width: 2px;
	}
}