.wrapper {
	position: relative;
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.btnWrapper {
	text-align: center;
}

.linkWrapper {
    font-size: 1.25rem;
    text-align: center;
    text-decoration: underline;
}

.error {
	color: #fff;
	border-top: 4px solid #f44336;
	line-height: 1;
	display: block;
	overflow: auto;
	margin-bottom: 1rem;
}

.error > span {
	float: right;
	padding: .5rem;
	margin-top: -4px;
	background-color: #f44336;
}

.emailLoginWrapper input {
	margin-right: 0;
}

.emailLogin {
	margin-top: 1rem;
}
