@keyframes pulse {
	from {
		height: 15rem;
		width: 15rem;
	}

	to {
		height: 10rem;
		width: 10rem;
	}
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	color: #1e2c37;
	background-color: rgba(0, 0, 0, .75);
	z-index: 110;
	font-weight: 500;
}

.inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 15rem;
	width: 15rem;
	border-radius: 50%;
	padding: 1rem;
	background-color: #2fd9b5;
	animation: pulse 1.5s infinite;
	animation-direction: alternate;
}

.title {
	display: block;
	font-size: 1.5rem;
}
