.wrapper {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
}

.option {
	composes: round from './Button.module.css';
	width: 95%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

.optionHappy {
	composes: option;
	background-image: url('./assets/icon-happy-light.svg');
}

.optionSad {
	composes: option;
	background-image: url('./assets/icon-sad-light.svg');
}
