@value Blue200 from '../../css/Colours.module.css';

.wrapper {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
}
.field {
	composes: vh from '../../css/A11y.module.css';
}

.field:checked + .message {
	background-color: Blue200;
}

.controls {
	text-align: center;
}

.message {
	cursor: pointer;
	display: block;
	padding: 1rem;
	border: 4px solid Blue200;
	font-weight: 500;
}

.tag {
	margin-bottom: 0;
}

.tag + .tag {
	margin-top: 4px;
}
