.entry {
	position: relative;
	float: left;
	/*height: 300px;*/
	width: calc(33.3% - 1rem);
	padding-top: calc(33.3% - 1rem);
	margin: 0 1.5rem 1.5rem 0;

	display: flex;
	align-items: stretch;
	flex: 1;
}

.entryLastRowItem {
	composes: entry;
	margin-right: 0;
}

.header {
	composes: large from '../../css/Headings.module.css';
	padding: 1rem 0;
}

.toggle {
	font-size: 1rem;
}

.moreWrapper {
	position: fixed;
	bottom: -7rem;
	height: 11rem;
	width: 100%;
	display: flex;
	justify-content: center;
}

.more {
	text-align: center;
	padding: 2rem 5rem;
	border-radius: 50%;
	box-shadow: 0 -4px 17px rgba(0, 0, 0, .4);
	background-color: rgba(0, 0, 0, .6);
}
