.wrapper {
	display: flex;
	flex: 1;
	justify-content: center;
	position: relative;
}

.outputWrapper {
	position: relative;
	height: 100%;
	width: 100%;
	text-align: center;
}

.description {
	display: flex;
	flex: 1;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #1e2c37;
	z-index: 1;
}

.descriptionControls {
	text-align: center;
}

.textarea {
	display: flex;
	flex: 1;
	border-color: #2fd9b5;
}

.thumbnail {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
    width: 100%;
	margin: auto;
}

.countdown {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btnStack {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.btnStack > * + * {
	margin-top: 1rem;
}

.videoContainer {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.video {
	height: 100%;
	width: 100%;
	object-fit: fill;
}

.text {
	position: absolute;
	left: 0;
	bottom: 2rem; /* Allow space for video controls */
	width: 100%;
	padding: 1rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
	overflow: hidden;
	background-color: rgba(0, 0, 0, .5);
}

.connecting {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	text-align: left;
	background-color: rgba(0, 0, 0, .5);
}

.connecting span {
	display: block;
	font-size: 1.5rem;
}

.content {
	position: relative;
	display: flex;
	flex: 1;
	margin-bottom: 1rem;
}

.charCounter {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: .5rem 1rem;
	border-top-left-radius: 20px;
	color: #1e2c37;
	background-color: #2fd9b5;
}

.uploadWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
