@import url('https://fonts.googleapis.com/css?family=Quicksand');


*,
*:before,
*:after {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    outline: none;
}

/* iOS hack to prevent scroll + bounce effect */
html,
body {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    overflow: auto;
}

html {
    /*

    Min size: 16
    Max size: 20
    Min viewport width: 1024
    Max viewport width: 1920

    */
    font-size: calc(16px + (20 - 16) * (100vw - 1024px) / (1920 - 1024));

    /* hack to engage viewport-units-buggyfill */
    content: 'viewport-units-buggyfill; calc(16px + (20 - 16) * (100vw - 1024px) / (1920 - 1024));';
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: #fff;
    background-color: #1e2c37;
}

button {
    color: inherit;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    cursor: pointer;
    background: none;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

p {
    padding: 0;
    margin: 0;
    line-height: 2;
}

p + p {
    margin-top: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
}

ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

blockquote {
    padding: 0;
    margin: 0;
}

textarea {
    min-height: 100px;
    width: 100%;
    padding: 1rem;
    margin: 0;
    border: 4px solid #1e2c37;
    border-radius: 0;
    font-size: 1.25rem;
    background: #fff;
}

legend {
    margin-bottom: .5rem;
}

input,
select {
    font-size: 1rem;
}

select,
[type="text"],
[type="number"] {
    border: 1rem solid transparent;
    border-radius: 0;
    /*outline: 4px solid #34404c;*/
    margin-right: 1rem;
    background-color: #fff;
    cursor: pointer;
}

select {
    appearance: none;
    background-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+');
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

label {
    display: block;
    margin-bottom: 1rem;
}

table {
    text-align: left;
}

/* Force landscape display by rotating the entire document */
@media screen and (orientation: portrait) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}

@media all and (min-width: 1920px) {
    html {
        font-size: 20px;
    }
}

@media all and (min-height: 1080px) {
    html {
        font-size: 30px;
    }
}
