@import 'https://fonts.googleapis.com/css?family=Open+Sans';

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-color: #a3dfef;
}

a, a:hover, a:focus {
  color: #fff;
  text-decoration: none;
}

a[role="button"] {
  color: #fff;
  padding: .125rem .5rem;
  font-size: .8rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .5);
}

a[role="button"]:hover {
  background-color: rgba(0, 0, 0, .65);
  transition: all .25s ease-in;
}

blockquote {
  border: 0;
  padding: 0;
  margin: 0;
}

blockquote:before {
  content: open-quote;
  margin-right: .5rem;
  line-height: .5rem;
}

blockquote:after {
  content: no-close-quote;
}

img {
  height: auto;
  max-width: 100%;
}

button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

[hidden] {
  display: none;
}

#root {
  padding: 0 1rem;
  background: linear-gradient(to bottom, #1dafd8 0%, #a3dfef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1dafd8', endColorstr='#a3dfef', GradientType=0);
  overflow: auto;
}

/* -------------------------------

   Modal

-------------------------------- */

[role="dialog"] {
  color: #222;
}

/* -------------------------------

   Form elements

-------------------------------- */

.form-control {
  border: 0;
  border-radius: 0;
  background-color: #eaeaea;
}

/* -------------------------------

   Buttons

-------------------------------- */

.btn-toolbar {
  text-align: right;
}

.btn-toolbar .btn {
  float: none;
}

.btn {
  position: relative;
  display: inline-block;
  width: auto;
  border: 0;
  padding: .8rem 2rem;
  margin: .5rem 0;
  color: #fff;
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: none;
  font-weight: bold;
  box-shadow: none;
  border-left: 2.5rem solid #0c3846;
  background: #144959;
}

.btn:before {
  content: '';
  position: absolute;
  left: calc(-1.75rem);
  top: 0;
  bottom: 0;
  margin: auto;
  height: 1rem;
  width: 1rem;
  background: url('/static/icon-cross.png') no-repeat;
  background-size: contain;
}

.btn:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 23px;
  width: 23px;
  background: url('/static/btn-arrow.png') no-repeat;
}

.btn:hover,
.btn:focus {
  color: #fff;
  border-color: #0c3846;
  background-color: #0c3846;
  transition: all .25s ease-in;
}

.btn[disabled] {
  background-color: #aaa;
}

.btn[disabled]:hover {
  border-color: #0c3846;
  background-color: #aaa;
}

/* -------------------------------

   Header

-------------------------------- */

.page-header,
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header {
  margin: 1rem 0;
}

.profile {
  margin: 0 1rem;
}

.logo {
  height: 2.5rem;
}

.welcome > span {
  float: left;
  clear: left;
  padding: .25rem .5rem;
  background-color: rgba(0, 0, 0, .2);
}

.welcome > span:first-child {
  font-size: 0.8rem;
}

.profile-img {
  height: 60px;
  width: 60px;
  float: left;
  border-radius: 50%;
}

.profile-img-container {
  display: inline-block;
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, .15);
  transition: all .5s ease-in;
}

.profile-img-container:hover {
  background: rgba(255, 255, 255, .35);
}

/* -------------------------------

   Entry

-------------------------------- */

.entry {
  min-height: 100px;
  position: relative;
  color: #fff;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.entry--has-media {
  min-height: 200px;
}

.entry:hover {
  color: #fff;
}

.entry-content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: .5rem 1rem;
  background-color: rgba(0, 0, 0, .7);

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.entry-content:hover {
  background-color: rgba(0, 0, 0, .85);
  transition: all .25s ease-in;
}

.entry img {
  position: absolute;
  width: 4rem;
}

.entry + .entry {
  margin-top: .5rem;
}

.happy-container,
.sad-container {
  margin-bottom: 1rem;
  text-align: center;
  cursor: pointer;
}

.happy-container > div,
.sad-container > div {
  padding: 2.5rem 1.5rem;
}

.happy-container img,
.sad-container img {
  height: 7rem;
}

.happy-container,
.entry--happy:before {
  background-color: #ffdd67;
}

.sad-container,
.entry--sad:before {
  background-color: #89664c;
}

.entry--quote {
  flex: 1;
  text-align: right;
  font-size: 1.5rem;
  margin-right: 3rem;
}

.entry--meta {
  flex: 1;
  margin-left: 3rem;
}

.entry--time {
  font-size: .8rem;
  font-weight: bold;
}

.entry--tags {
  color: #ffdd67;
  font-size: .8rem;
  font-weight: bold;
}

/* Indicate which emoji is selected on the sentiment form */
.selected-emoji {
  background-color: #2ecc71;
}

/* -------------------------------

   Entry Viewer

-------------------------------- */

.entry-viewer .entry {
  min-height: 0;
}





.add-entry-form {
  text-align: center;
  padding: .25rem 1rem;
  margin-bottom: .5rem;
  background-color: rgba(0, 0, 0, .1);
}